@page "/"



<h1 class="animate__animated animate__fadeInUp">Welcome on our site!</h1>

<div class="animate__animated animate__slideInRight">
    <p> We are glad you came to us!</p>
</div>

<div class="animate__animated animate__slideInRight">
    <p>Here you will find a lot of interesting information about films and their ratings and compare your opinion with other users!</p>
</div>

<AuthorizeView>
    <div class="animate__animated animate__bounce">
        <p>You are logged as: @context.User.Identity?.Name !</p>
    </div>
</AuthorizeView>




